.exp{
    position: relative;
    top: 110px;
}
.mainExp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontCard{
    display: flex;
    justify-content: center;
    border: coral solid;
    padding: 2rem;
    width: 27rem;
    border-radius: 2rem;
}


.frontStack{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 400px){
    .card{
        display: flex;
        flex-direction: column;
    }
    .frontCard{
        width: auto;
        margin: 2%;
        padding: 0;
    }
    .mainExp {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}