p{
    margin: auto;
    color: gray
}

h2{
    margin: auto;
}
span{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace ;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(51 65 85);
}
a{
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    font-family:  sans-serif;
    font-size: large;
    transition: color 0.3s ease, transform 0.3s ease;
    
    /* font-weight: bold; */
}
.aboutMe{
    color: azure;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: medium;  
}
.aboutMe:hover{
    color: azure;
    background-color:#888aae;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: medium;  
}


a:hover{
    cursor: pointer;
    color: #888aae; /* Tomato color on hover */
    transform: translateX(10px); /* Moves text to the right */
}
 h3{
    color: #a5a0a0;
 }


.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;

}


.intro{
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
}
.profile{
    max-height: 64px;
    max-width: 64px;
    border-radius: 50%;
    margin-right: 2.5px;
}


@media only screen and (max-width: 1040px) {
    .mainAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 40px;
    }

    .profile{
        width: 50%;
        height: 50%;
    }



}
