.p{
    position: relative;
    top: 90px;
}
.mainProject{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.allcards{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.projectCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: coral solid;
    border-radius: 2rem;
    padding: 2%;
}

.projectCards button{
    width: 150px;
    height: 50px;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid;
    background: coral;
    color: white;
}

@media screen and (max-width: 400px){
    .mainProject {
        display: flex;
        flex-direction: column;

    }
    .allcards {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        flex-direction: column;

    }
    .projectCards{
        margin: 2%;
    }
    .projectCards img{
        width: 80%;
    }

}