.text_val{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 18px;
    
}
h4{
    margin: 0;
}
.tab{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.tab_icons{
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    /* padding: 10px; */
}

.tab_icons a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

p{
    padding: 10px;
}